@model Veterinaria.Web.Models.Owner

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Dueños</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
