@{
    ViewBag.Title = "About";
}
    <div class="text-center">
        <h3><strong> Acerca de...</strong></h3>


        <div class="alert alert-info alert-dismissable center-block ">
            <strong>¡Bienvenido a la pagina!</strong>
            En esta sección se presentará información que puedes necesitar sobre la veterinaria: <br />

        </div>

        <strong>¡Horario!</strong> <br />
        Lun.-Vie.	09:00 - 18:00
        <br />
        Sab.	09:00 - 17:00
        <br />
        Dom.	Cerrado
        <br />
        <strong>¡Visitanos!</strong> <br />
        <ul>
        <li>CENTENARIO, 60, ZONA RIO, TIJUANA, BC, C.P. 22010
        <li>CUAUHTEMOC, 440, LIBERTAD, TIJUANA, BC, C.P. 22400
</ul>
    </div>

